<div class="container-fluid section-2">
    <div class="row">
        <div class="col-md-2 offset-md-5 mission-heading">
            <h2>Our Mission</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea
                commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                anim id
                est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt
                mollit anim id est laborum.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid section-3">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-fluid imgCenter" src="assets/dummy.jfif">
            <p class="btnCenter text-center">CEO</p>
        </div>
        <div class="col-lg-4">
            <img class="img-fluid imgCenter" src="assets/dummy.jfif">
            <p class="btnCenter text-center">CTO</p>
        </div>
        <div class="col-lg-4">
            <img class="img-fluid imgCenter" src="assets/dummy.jfif">
            <p class="btnCenter text-center">Director</p>
        </div>
    </div>
</div>
<footer class="bg-inverse section-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-9 socialWrapper">
                <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
                <i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i>
                <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</footer>