.product-list {
    background-color: #9c85ff7a;
}

.product-img {
    /* width: 350px; */
    /* height: 350px; */
}

.card {
    background-color: #9c85ff7a;
}

.section-4 {
    background-color: #292b2c!important;
}

.footerImg {
    padding: 15px;
}

.fa {
    margin: 10px;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-google-plus-square {
    color: #c32f10;
}

.fa-instagram {
    color: #ffffff;
}

.socialWrapper {
    margin: auto;
}

.list-group-item {
    background-color: #9c85ff7a;
}

.list-group-item img{
    border-radius: 50%;
}

.category {
    /* background-color: antiquewhite; */
    padding: 1%;
    background-color: #5846a480;
}

.no-gutters {
    border-bottom: #000 2px solid;
}

.no-gutters:hover {
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.75);
}