<nav class="navbar navbar-expand-lg pt-0">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">Qoura+</a>
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>
      <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" aria-current="page" [routerLink]="['/']" (click)="isMenuCollapsed = true">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/'+routes_url.ABOUT_US]" (click)="isMenuCollapsed = true">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/'+routes_url.CONTACT_US]" (click)="isMenuCollapsed = true">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/'+routes_url.PRODUCTS]" (click)="isMenuCollapsed = true">Products</a>
          </li>
        </ul>
        <div class="navbar-nav">
          <li ngbDropdown class="nav-item profile">
            <a href (click)="false" class="nav-link" ngbDropdownToggle>
              <div class="d-flex">
                <img src="{{auth.user?.profile.upload}}" class="nav-link profile-pic">
                <span>{{auth.user?.first_name}}</span>
              </div>
              <span></span>
            </a>
            <div ngbDropdownMenu>
              <button ngbDropdownItem [routerLink]="['/'+routes_url.PROFILE]">Profile</button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem [routerLink]="['/'+routes_url.RESET_PASSWORD]">Settings</button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem (click)="logout()">Logout</button>
            </div>
          </li>
        </div>
      </div>
    </div>
  </nav>