mat-menu {
    background-color: #212121;
  }
  .spacer {
    flex: 1 1 auto;
  }
  .main {
    min-height: 100vh;
  }
  .title {
    margin: auto;
  } */
  
  ::ng-deep .dropdown-menu {
    right: 0;
    left: unset!important;
  }
  
  .profile img {
    height: 50px;
  }
  
  .profile span {
    display: flex;
    align-items: center;
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  
  .profile > a > span {
    justify-content: center;
  }
  
  .profile > a > span::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }