<div class="container">
    <div class="">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(form)" #form>
            <div class="row add-spacing form-group">
                <div class="col-md-4">
                    <label for="oldPassword">Old Password:</label>
                </div>
                <div class="col-md-6">
                    <input type="password" class="form-control" placeholder="Old Password"
                        formControlName="oldPassword">
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of ValidationMessagesRef.oldPassword">
                            <div class="error-message"
                                *ngIf="this.resetPasswordForm.controls?.['oldPassword']?.hasError(validation.type) && (this.resetPasswordForm.controls?.['oldPassword']?.touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row add-spacing form-group">
                <div class="col-md-4">
                    <label for="password">New Password:</label>
                </div>
                <div class="col-md-6">
                    <input type="password" class="form-control" placeholder="Password" formControlName="password">
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of ValidationMessagesRef.password">
                            <div class="error-message"
                                *ngIf="this.resetPasswordForm.controls?.['password']?.hasError(validation.type) && (this.resetPasswordForm.controls?.['password']?.touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row add-spacing form-group">
                <div class="col-md-4">
                    <label for="confirmPassword">Confirm New Password:</label>
                </div>
                <div class="col-md-6">
                    <input type="password" class="form-control" placeholder="Confirm Password"
                        formControlName="confirmPassword">
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of ValidationMessagesRef.confirmPassword">
                            <div class="error-message"
                                *ngIf="this.resetPasswordForm.controls?.['confirmPassword']?.hasError(validation.type) && (this.resetPasswordForm.controls?.['confirmPassword']?.touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="form-group d-flex justify-content-center flex-column align-items-center">
                <button type="submit" [disabled]="resetPasswordForm.invalid" class="btn">Update</button>
            </div>
        </form>
    </div>
</div>