.error-message {
    color:red;
}

.add-spacing {
    padding: 2%;
    overflow:auto; 
}

label {
    font-weight: bold;

    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

.btn:hover {
    background-color: #6d4affa8;
    color: #fff;
}