<div class="container-fluid section-1">
    <div class="row">
      <div class="col-sm-12">
        <div class="top-heading">
          <div class="container text-center">
            <h1 class="display-3">Weekly Updates</h1>
            <p class="lead">Powered by xyz</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 offset-md-3">
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/slider/1.jpg" alt="Random first slide" />
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/slider/2.jpg" alt="Random second slide" />
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/slider/3.jpg" alt="Random third slide" />
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
  <div class="container-fluid section-2">
    <div class="row">
      <div class="col-md-1 offset-md-2">
      </div>
      <div class="col-md-6">
        <div class="row">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est laborum.
          </p>
        </div>
        <div class="row">
          <div class="col-md-9">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum.
            </p>
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="coolStuffWrapper">
          <button type="button" class="btn btn-lg coolStuffBtn">Get Cool Stuff</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid section-3">
    <div class="row">
      <div class="col-md-12 text-center pb-5">
        <h1>Winners of the Month</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img class="img-fluid imgCenter" src="assets/dummy.jfif">
        <div class="row">
          <div class="col-sm-12">
            <button type="button" class="btn btn-lg btnCenter">John</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <img class="img-fluid imgCenter" src="assets/dummy.jfif">
        <div class="row">
          <div class="col-sm-12">
            <button type="button" class="btn btn-lg btnCenter">Allie</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <img class="img-fluid imgCenter" src="assets/dummy.jfif">
        <div class="row">
          <div class="col-sm-12">
            <button type="button" class="btn btn-lg btnCenter">Adam</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="bg-inverse section-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9 socialWrapper">
          <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
          <i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i>
          <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </footer>