.product {
    background-color: #9c85ff7a;
}

.post-review {
    background-color: #9c85ff7a;
}

.review-rating {
    float:right;
}

.reviews {
    background-color: #fff;
    padding-left: 10vw;
    padding-right: 10vw;
}

.reviews > .row {
    border: #fff 20px solid;
    background-color: #9c85ff7a;
}

.review-img{
    border-radius: 50%;
}

::ng-deep .star {
    font-size: 2rem;
}

.review-icons {
    height:100%;
    cursor: pointer;
}

.review-text {
    word-wrap: break-word;
}