.profile-container {
    min-height: 100vh;
}

.profile-update {
    height: 100%;
}

.file-input {
    width: 100%;
}

.file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.file-input::before {
    content: 'Select Profile Picture';
    display: inline-block;
    background-color: #6d4aff;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}
.file-input:hover::before {
    background-color: #0069d9;
}
.file-input:active::before {
    background-color: #0062cc;
}

form {
  height: 100%;
}

.add-spacing {
  padding: 2%;
  overflow:auto; 
}

label {
  font-weight: bold;
}

.error-message {
    color:red;
}

.submit-btn {
    display: block;
    margin: auto;
}

.signin-text {
    cursor: pointer;
    color: #6d4aff;
}

.profile-pic {
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.image-upload>input {
    display: none;
}

.image-upload {
    position: relative;
}

.image-upload label {
    cursor: pointer;
    position: relative;
}

.image-upload span {
    position: absolute;
    top: 50%;
    left: 28%;
}

.image-upload .hover-text {
    display: none;
  }
  
.image-upload:hover .hover-text {
    display: block;
}
  
.btn:hover {
    background-color: #6d4affa8;
    color: #fff;
}